{% load static %}
<!-- ================================
Start Footer
================================= -->
<footer>
    <div class="footerCol">
    <div class="container">
        <ul class="socialCol">
        {% if me.userprofile.linkedin_url %}
            <li><a href={{me.userprofile.linkedin_url}}><img src="{% static 'images/linkedin-icon.svg' %}" alt="..."></a></li>
        {% endif %}
        {% if me.userprofile.gitlab_url %}
            <li><a href={{me.userprofile.gitlab_url}}><img src="{% static 'images/gitlab.svg' %}" alt="..."></a></li>
        {% endif %}
        {% if me.userprofile.github_url %}
            <li><a href={{me.userprofile.github_url}}><img src="{% static 'images/github.svg' %}" alt="..."></a></li>
        {% endif %}
        </ul>
        <div class="copyrightCol">
        </div>
    </div>
    </div>
</footer>
<!-- ================================
End Footer
================================= -->