{% extends 'main/base.html' %}
{% load static %}

<!-- ================================
Start SEO blocks
================================= -->
{% block title %}{% endblock %}
{% block decription %}{% endblock %}
{% block keywords %}{% endblock %}
<!-- ================================
END SEO blocks
================================= -->

<!-- ================================
Start CSS blocks
================================= -->
{% block extend_header %}{% endblock %}
<!-- ================================
END CSS blocks
================================= -->

<!-- ================================
Start script blocks
================================= -->
{% block extend_footer %}{% endblock %}
<!-- ================================
END script blocks
================================= -->

<!-- ================================
Start Content
================================= -->
{% block content %}
  <div class="innerPageBannerCol">
    <div class="container">
      <div class="row g-4 g-md-3  justify-content-center">
        <div class="col-md">
          <div class="bannerContent">
            <h1 class="xlTitle pb-md-3">Personal Interests</h1>
            <p>{{me.userprofile.bio_personal}}</p>
          </div>
        </div>
        <div class="col-md-auto order-md-last">
          <div class="bannerUserImg">
            <img src="{{me.userprofile.avatar_personal.url}}">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="lightBg">
    <div class="container">
      <div class="portfolioContentMain">
          {% for obj in object_list %}          
            <div class="row g-4 g-md-3  justify-content-center">
              <div class="col-md">
                <div class="bannerContent">
                  <div class="col-md">
                    <h4 class="lgTitle">{{obj.title}}</h4>
                    <ul class="portfolioOption">
                      <li><span class="dateLbl">{{obj.date}}</span></li>
                    </ul>            
                    {% for skills in obj.skills.all %}
                      {% if skills.is_active %}       
                        <span class="skills__name">{{skills.name}}</span>
                      {% endif %}              
                    {% endfor %}              
                    <div class="col-md-auto order-md-last">
                      {{obj.body|safe}}
                    </div>
                  </div>
                </div>
              </div>
              <div  class="col-md-auto order-md-last">
                <div class="bannerUserImgRect">
                {% if obj.image %}       
                  <img src="{{obj.image.url}}">
                {% endif %}  
                </div>
              </div>
            </div>            
            <hr size="4" width="100%" color="blue">  
          {% endfor %}
      </div>
    </div>
  </div>
</section>
<!-- ================================
End Content
================================= -->
{%endblock%} 
    