{% extends 'main/base.html' %}
{% load static %}

<!-- ================================
Start SEO blocks
================================= -->
{% block title %}{% endblock %}
{% block decription %}{% endblock %}
{% block keywords %}{% endblock %}
<!-- ================================
END SEO blocks
================================= -->

<!-- ================================
Start CSS blocks
================================= -->
{% block extend_header %}{% endblock %}
<!-- ================================
END CSS blocks
================================= -->

<!-- ================================
Start script blocks
================================= -->
{% block extend_footer %}{% endblock %}
<!-- ================================
END script blocks
================================= -->

<!-- ================================
Start Content
================================= -->
{% block content %}
<section>
  <div class="innerPageBannerCol">
    <div class="container">
      <div class="row g-4 g-md-3  align-items-center">
        <div class="col-md-6">
          <div class="bannerContent">
            <h1 class="xlTitle pb-md-3">{{object.name|title}}</h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-auto">
          <div class="authorCol">
            <h4 class="smTitle pb-3">{{object.location|title}}</h4>
          </div>
        </div>
        <div class="col-md">
          <h4 class="smTitle pb-3">{{object.date}}</h4>
        </div>
      </div>

      <div class="col-md-6 pColMain">
        <div class="pCol">
          <h4 class="smTitle pb-3">{{object.description}}</h4>              
            {% for skills in object.skills.all %}
              {% if skills.is_active %}       
                <span class="skills__name">{{skills.name}}</span>
              {% endif %}              
            {% endfor %}           
        </div>
        <div class="sectionSpaceSm">
          <div class="container">
            {{object.body|safe}}
          </div>
        </div>
      </div>    
    </div>
  </div>
</section>
{% endblock %}
<!-- ================================
End Content
================================= -->
   