{% extends 'main/base.html' %}
{% load static %}

<!-- ================================
Start SEO blocks
================================= -->
{% block title %}{% endblock %}
{% block decription %}{% endblock %}
{% block keywords %}{% endblock %}
<!-- ================================
END SEO blocks
================================= -->

<!-- ================================
Start CSS blocks
================================= -->
{% block extend_header %}{% endblock %}
<!-- ================================
END CSS blocks
================================= -->

<!-- ================================
Start script blocks
================================= -->
{% block extend_footer %}{% endblock %}
<!-- ================================
END script blocks
================================= -->

<!-- ================================
Start Content
================================= -->
{% block content %}
<section>
  <div class="innerPageBannerCol">
    <div class="container">
      <div class="row g-4 g-md-3  align-items-center">
        <div class="col-md-6">
          <div class="bannerContent">
            <h1 class="xlTitle pb-md-3">Experiences</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="lightBg">
    <div class="container">
      <div class="portfolioContentMain">
          {% for obj in object_list %}          
            <!-- <div class="grid-container"> -->
              <div class="grid-container">
                <div class="col-md">
                  <div class="container">
                    <h4 class="lgTitle">{{obj.name}}</h4>
                  </div>
                </div>
                <div class="grid-container">
                  <div class="col-md-auto">
                    <div class="container">
                      <h3 class="smTitle pb-3">{{obj.location}}</h3>
                    </div>
                  </div>
                  <div class="col-md-auto" style="text-align: right">
                    <ul class="container">
                      <li><span class="dateLbl">{{obj.date}}</span></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="grid-container">
                <div class="col-md">
                  <div class="container">
                    {% for skills in obj.skills.all %}
                      {% if skills.is_active %}       
                        <span class="skills__name">{{skills.name}}</span>
                      {% endif %}              
                    {% endfor %}
                  </div>
                </div>
                <div class="col-md-auto">
                  <div class="container">    
                    <div class="mx-auto">
                    {{obj.body|safe}}                  
                    {{obj.url|safe}}
                    </div>
                  </div>
                </div>
              </div>
            <!-- </div> -->
            <hr size="4" width="100%" color="blue">  
          {% endfor %}
      </div>
    </div>
  </div>
</section>
<!-- ================================
End Content
================================= -->
{%endblock%} 
    