{% extends 'main/base.html' %}
{% load static %}

<!-- ================================
Start SEO blocks
================================= -->
{% block title %}{% endblock %}
{% block decription %}{% endblock %}
{% block keywords %}{% endblock %}
<!-- ================================
END SEO blocks
================================= -->

<!-- ================================
Start CSS blocks
================================= -->
{% block extend_header %}{% endblock %}
<!-- ================================
END CSS blocks
================================= -->

<!-- ================================
Start script blocks
================================= -->
{% block extend_footer %}{% endblock %}
<!-- ================================
END script blocks
================================= -->

<!-- ================================
Start Content
================================= -->
{% block content %}
<section>
  <div class="bannerSection">
    <div class="container">
      <div class="row g-4 g-md-3  justify-content-center">
        <div class="col-md">
          <div class="bannerContent">
            <h1 class="xlTitle pb-3">Hi, I’m {{me.first_name|title}}</br></h1>
            <p>{{me.userprofile.bio}}</p>
            <div class="bannerBtnCol">
              <div class="row">
                <div class="col-auto">
                  <a download href="{{me.userprofile.cv.url}}" class="btn btnPrimary">Download Resume</a>
                </div>
                <div class="col-auto">
                  <a href="{% url 'main:contact' %}" class="btn btnOutline">Contact</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-auto order-md-last">
          <div class="bannerUserImg">
            <img src="{{me.userprofile.avatar.url}}">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% if me.userprofile.categories %}
<section>
  <div class="sectionSpaceSm darkBg">
    <div class="container">
      <div class="row pb-3">
        <div class="col">
          <h4 class="smText regular">Skills</h4>
        </div>
      </div>
      <div class="sliderOuter">
        <div class="swiper skillsSwiper">
          <div class="swiper-wrapper">
            {% for category in me.userprofile.categories.all %}
              {% if category.is_active %}
              <div class="swiper-slide">
                <div class="cardStyle1">
                  <h4 class="mdTitle cs1Title">{{category.name}}</h4>
                  {% for skills in category.skill_set.all %}
                    {% if skills.is_active %}  
                      <span class="skills__name">{{skills.name}}</span>
                    {% endif %}              
                  {% endfor %}
                </div>
              </div>
              {% endif %}
            {% endfor %}              
          </div>
        </div>            
        <div class="skill-swiper-button-next swiper-button-next swiperBtnStyle"></div>
        <div class="skill-swiper-button-prev swiper-button-prev swiperBtnStyle"></div>
        <div class="swiper-pagination swiperPaginationStyle posInitial"></div>
      </div>
    </div>
  </div>
</section>
{% endif %}

{% if Experiences %}
  <section>
    <div class="sectionSpaceSm lightBg">
      <div class="container">
        <div class="row pb-3">
          <div class="col">
            <h4 class="smText regular">Experience</h4>
          </div>
          <div class="col-auto">
            <a href="{% url 'main:Experiences' %}" class="simpleLink"><u>View all</u></a>
          </div>
        </div>
        <div class="sliderOuter">
          <div class="swiper experienceSwiper">
            <div class="swiper-wrapper">
              {% for exp in Experiences %}
                {% if exp.is_active %}
                <div class="swiper-slide">
                  <div class="cardStyle1">
                    <h4 class="mdTitle cs1Title">{{exp.name}}</a></h4>
                    <ul class="cardOptionCol">
                      <li>{{exp.date}}</li>
                      <li>{{exp.location}}</li>
                    </ul>
                    <div class="col-auto">
                      {% for skills in exp.skills.all %}  
                        {% if skills.is_active %}  
                          <span class="skills__name">{{skills.name}}</span>
                        {% endif %}              
                      {% endfor %}
                    </div>
                    <p>{{exp.description}}</p>
                      {% if exp.url %}
                        <p>{{exp.url|safe}}</p>
                      {% endif %}                      
                    <a href="{% url 'main:Experience' slug=exp.slug %}" class="simpleLink"><u>More details</u></a>
                  </div>
                </div>
                {% endif %}
              {% endfor %}              
            </div>
          </div>            
          <div class="exp-swiper-button-next swiper-button-next swiperBtnStyle"></div>
          <div class="exp-swiper-button-prev swiper-button-prev swiperBtnStyle"></div>
          <div class="swiper-pagination swiperPaginationStyle posInitial"></div>
        </div>
      </div>
    </div>
  </section>
{% endif %}

{% if certificates %}
  <section>
    <div class="sectionSpaceSm darkBg">
      <div class="container">
        <div class="row pb-3">
          <div class="col">
            <h4 class="smText regular">Education</h4>
          </div>
        </div>
        <div class="sliderOuter">
          <div class="swiper certificatesSlider">
            <div class="swiper-wrapper">
              {% for c in certificates %}
                {% if c.is_active %}
                <div class="swiper-slide">
                  <div class="cardStyle1">
                    <h4 class="mdTitle cs1Title">{{c.title}}</a></h4>
                    <ul class="cardOptionCol">
                      <li>{{c.date}}</li>
                      <li>{{c.organisation}}</li>
                    </ul>
                    <div class="col-auto">
                      {% for skills in c.skills.all %}  
                        {% if skills.is_active %}  
                          <span class="skills__name">{{skills.name}}</span>
                        {% endif %}              
                      {% endfor %}
                    </div>                      
                      <p>{{c.description|safe}}</p>
                      {% if c.url %}
                        <p>{{c.url|safe}}</p>
                      {% endif %}
                  </div>
                </div>
                {% endif %}
              {% endfor %}              
            </div>
          </div>            
          <div class="cert-swiper-button-next swiper-button-next swiperBtnStyle"></div>
          <div class="cert-swiper-button-prev swiper-button-prev swiperBtnStyle"></div>
          <div class="swiper-pagination swiperPaginationStyle posInitial"></div>
        </div>
      </div>
    </div>
  </section>
{% endif %}

{% if portfolio %}
  <section>
    <div class="sectionSpace lightBg">
      <div class="container">
        <div class="portfolioCol">
          <div class="row pb-3">
            <div class="col">
              <h4 class="smText regular">Recent Project</h4>
            </div>
            <div class="col-auto">
              <a href="{% url 'main:portfolios' %}" class="simpleLink">View all</a>
            </div>
          </div>
          {% for p in portfolio %}
            {% if p.is_active %}
              <div class="portfolioCard">
                <div class="row g-4 align-items-center">
                  <div class="col-md-auto">
                    <div class="portfolioImgCol">
                      <a href="{% url 'main:portfolio' slug=p.slug %}"><img src="{{p.image.url}}" alt="..."></a>
                    </div>
                  </div>
                  <div class="col-md">
                    <div class="portfolioContentCol">
                      <h4 class="lgTitle"><a href="{% url 'main:portfolio' slug=p.slug %}">{{p.name}}</a></h4>
                      <ul class="portfolioOption">
                        <li><span class="dateLbl">{{p.date.year}}</span></li>
                      </ul>
                      <p>{{p.description}}</p>
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
{% endif %}

{% if testimonials %}  
  <section>
    <div class="testimonialCol">
      <h4 class="smText regular d-block">Testimonials</h4>
      <div class="testimonialSlider">
        <div class="swiper testimonialSwiper">
          <div class="swiper-wrapper">
            {% for t in testimonials %}
              {% if t.is_active %}
              <div class="swiper-slide">
                <div class="testimonialCard">
                  <div class="row align-items-center">
                    <div class="col-sm-auto">
                      <div class="tImgCol">
                        <img src="{{t.thumbnail.url}}" alt="...">
                      </div>
                    </div>
                    <div class="col-sm">
                      <div class="tContentCol">
                        <h4 class="xsTitle bold">{{t.name}} - {{t.role}}</h4>
                        <p>{{t.quote}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endif %}
            {% endfor %}
          </div>
          <div class="test-swiper-button-next swiper-button-next swiperBtnStyle"></div>
          <div class="test-swiper-button-prev swiper-button-prev swiperBtnStyle"></div>
        </div>
      </div>
    </div>
  </section>
{% endif %}

{% endblock %}
<!-- ================================
End Content
================================= -->
